<sb-layout-dashboard [static]="true">
<sb-dashboard-head title="Organisations" [hideBreadcrumbs]="false"></sb-dashboard-head>
<mat-tab-group mat-align-tabs="start">
    <mat-tab>
        <ng-template mat-tab-label>
            <fa-icon [icon]='["fas", "users"]'></fa-icon>
            <span class="p-2">Organisations</span>
        </ng-template>
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-12">            
                    <form #f="ngForm" class="form-group">
                        <div class=" col-sm-6 col-lg-4 col-md-4 vertical-center">
                            <div class="image">
                                <img  [src]="imageSrc" *ngIf="imageSrc" style="position:relative;
                                left: calc(10%); height: 50px; width: 50px"> 
                                <span  style="position:relative;
                                top: calc(20%); left: calc(30%);"*ngIf="!imageSrc">Logo</span>                                                              
                                <input
                                    style="display: none;"
                                    [(ngModel)]="organization.logo" 
                                    id="upload-photo"
                                    type="file"
                                    name="logo" 
                                    (change)="onFileChange($event)">         
                            </div>
                            <label style="position:relative;
                                top: calc(10%); left: calc(70%);"for="upload-photo">
                                <fa-icon title="Upload logo" [icon]='["fas", "upload"]'></fa-icon>
                            </label>                              
                        </div>
                        <div class="col-11 float-right">
                            <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                <mat-label>Name: </mat-label>
                                <input matInput type="text" name="name" id="name" [(ngModel)]="organization.name" />
                            </mat-form-field>
                            <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                <mat-label>Description: </mat-label>
                                <input matInput  type="text" name="description" id="description" [(ngModel)]="organization.description" />
                            </mat-form-field>
                            <mat-form-field class="col-sm-4 col-lg-4 col-md-4">
                            <mat-label>Date de création: </mat-label>
                                <input matInput   type="date" name="inc" id="inc" [(ngModel)]="organization.inceptionDate" />
                            </mat-form-field>
                            
                            <mat-form-field class="col-sm-4 col-lg-4 col-md-4">
                                <mat-label>Cessation Date: </mat-label>
                                <input matInput type="date" name="cess" id="cess" [(ngModel)]="organization.cessationDate" />
                            </mat-form-field>
                            <mat-form-field class="col-sm-4 col-lg-4 col-md-4">
                                <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="organization.type" placeholder="Select A Type">
                                <mat-option *ngFor="let type of types" [value]="type">{{ type.name }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        
                            <div class=" text-center">
                                <button class="col-sm-6"  style="margin-right:20px" *ngIf="!isUpdate" class="btn btn-primary " type="submit" (click)="createOrg()"> <fa-icon [icon]='["fas", "save"]'></fa-icon></button>
                                <button class="col-sm-6"  style="margin-right:20px" *ngIf="isUpdate" class="btn btn-primary" type="submit" (click)="updateOrg()"> <fa-icon [icon]='["fas", "save"]'></fa-icon></button>
                                <button class="btn btn-warning" type="reset" > <fa-icon [icon]='["fas", "undo"]'></fa-icon></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th> #</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Inception Date</th>
                        <th>Cessation Date</th>
                        <th>Type</th>
                        <th >Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let org of organizations">
                            <td>{{org.id}}</td>
                            <td>{{org.name}}</td>
                            <td>{{org.description}}</td>
                            <td>{{org.inceptionDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{org.cessationDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{org.type?.name}}</td>
                            <td class="p-2"> 
                                <button mat-mini-fab color="primary" (click)="organization = org; isUpdate = true;" class="btn btn-primary" type="button"> <fa-icon [icon]='["fas", "edit"]'></fa-icon></button>
                                &nbsp;
                                <button mat-mini-fab (click)="deleteOrg(org)" class="btn btn-danger" type="button">  <fa-icon [icon]='["fas", "trash"]'></fa-icon> </button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Types d'organization">
        <div class="col-md-12">            
            <form #f1="ngForm">
                <mat-form-field class="col-sm- col-lg-6 col-md-6">
                    <mat-label>Name: </mat-label>
                    <input matInput type="text" name="name" id="name" [(ngModel)]="type.name" />
                </mat-form-field>
                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                    <mat-label>Description: </mat-label>
                    <input matInput  type="text" name="description" id="description" [(ngModel)]="type.description" />
                </mat-form-field>            
                <div class=" text-center">
                    <button mat-icon class="col-sm-6"  style="margin-right:20px" *ngIf="!isUpdate" class="btn btn-primary " type="submit" (click)="createType()"> <fa-icon [icon]='["fas", "save"]'></fa-icon></button>
                    <button mat-icon class="col-sm-6"  style="margin-right:20px" *ngIf="isUpdate" class="btn btn-primary" type="submit" (click)="updateType()"> <fa-icon [icon]='["fas", "save"]'></fa-icon></button>
                    <button mat-icon class="btn btn-warning" type="reset" > <fa-icon [icon]='["fas", "undo"]'></fa-icon></button>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th> #</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th >Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let typ of types">
                        <td>{{typ.id}}</td>
                        <td>{{typ.name}}</td>
                        <td>{{typ.description}}</td>
                        <td> 
                            <button mat-mini-fab color="primary" (click)="type = typ; isUpdate = true;" class="btn btn-primary" type="button"> <fa-icon [icon]='["fas", "edit"]'></fa-icon></button>
                            &nbsp;
                            <button mat-mini-fab (click)="deleteType(typ)" class="btn btn-danger" type="button">  <fa-icon [icon]='["fas", "trash"]'></fa-icon> </button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
    <mat-tab> 
        <ng-template mat-tab-label>
            <fa-icon [icon]='["fas", "cog"]'></fa-icon>
            <span class="p-2">Paramètres</span>
        </ng-template>
    </mat-tab>
    <mat-tab> 
        <ng-template mat-tab-label>
            <fa-icon [icon]='["fas", "edit"]'></fa-icon>
            <span class="p-2">HOrBAC Editor</span>
        </ng-template>
        <div>
            <form>
                <!-- <ckeditor [editor]="Editor" data='<p>Hello, world!</p>'></ckeditor> !-->
                <!-- <json-editor (change) = "formChanges($event)" [options]="editorOptions" [(data)]="data" #editor></json-editor> -->
                <textarea name="editor" id="editor" class="col-15" cols="125" rows="10" [(ngModel)] = "data"></textarea>
                <button  (click)="changeLog()" class="btn btn-primary" type="submit">Submit</button>
                <button  class="btn btn-primary m-2" type="reset">Reset</button>
            </form>
        </div>
    </mat-tab>
  </mat-tab-group>
</sb-layout-dashboard>