<sb-layout-dashboard [static]="true">
<sb-dashboard-head title="Organisations" [hideBreadcrumbs]="false"></sb-dashboard-head>
<mat-tab-group mat-align-tabs="start">
    <mat-tab>
        <ng-template mat-tab-label>
            <fa-icon [icon]='["fas", "users"]'></fa-icon>
            <span>Organisations</span>
        </ng-template>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">            
                    <form #f="ngForm">
                        <mat-form-field class="col-sm- col-lg-6 col-md-6">
                            <mat-label>Name: </mat-label>
                            <input matInput type="text" name="name" id="name" [(ngModel)]="organization.name" />
                        </mat-form-field>
                        <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                            <mat-label>Description: </mat-label>
                            <input matInput  type="text" name="description" id="description" [(ngModel)]="organization.description" />
                        </mat-form-field>
                        <mat-form-field class="col-sm-4 col-lg-4 col-md-4">
                        <mat-label>Date de création: </mat-label>
                            <input matInput   type="date" name="inc" id="inc" [(ngModel)]="organization.inceptionDate" />
                        </mat-form-field>
                        
                        <mat-form-field class="col-sm-4 col-lg-4 col-md-4">
                            <mat-label>Cessation Date: </mat-label>
                            <input matInput type="date" name="cess" id="cess" [(ngModel)]="organization.cessationDate" />
                        </mat-form-field>
                        <mat-form-field class="col-sm-4 col-lg-4 col-md-4">
                            <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="organization.type" placeholder="Select A Type">
                              <mat-option *ngFor="let type of types" [value]="type">{{ type.name }}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    
                        <div class=" text-center">
                            <button mat-flat-button class="col-sm-6"  style="margin-right:20px" *ngIf="!isUpdate" class="btn btn-primary " type="submit" (click)="createOrg()"> <fa-icon [icon]='["fas", "save"]'></fa-icon></button>
                            <button mat-flat-button class="col-sm-6"  style="margin-right:20px" *ngIf="isUpdate" class="btn btn-primary" type="submit" (click)="updateOrg()"> <fa-icon [icon]='["fas", "save"]'></fa-icon></button>
                            <button mat-flat-button class="btn btn-warning" type="reset" > <fa-icon [icon]='["fas", "undo"]'></fa-icon></button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th> #</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Inception Date</th>
                        <th>Cessation Date</th>
                        <th>Type</th>
                        <th >Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let org of organizations">
                            <td>{{org.id}}</td>
                            <td>{{org.name}}</td>
                            <td>{{org.description}}</td>
                            <td>{{org.inceptionDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{org.cessationDate | date:'dd-MM-yyyy'}}</td>
                            <td>{{org.type?.name}}</td>
                            <td> 
                                <button mat-mini-fab color="primary" (click)="organization = org; isUpdate = true;" class="btn btn-primary" type="button"> <fa-icon [icon]='["fas", "edit"]'></fa-icon></button>
                                &nbsp;
                                <button mat-mini-fab (click)="deleteOrg(org)" class="btn btn-danger" type="button">  <fa-icon [icon]='["fas", "trash"]'></fa-icon> </button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
     </div>
    </mat-tab>
    <mat-tab label="Types d'organization">
        <div class="col-md-12">            
            <form #f1="ngForm">
                <mat-form-field class="col-sm- col-lg-6 col-md-6">
                    <mat-label>Name: </mat-label>
                    <input matInput type="text" name="name" id="name" [(ngModel)]="type.name" />
                </mat-form-field>
                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                    <mat-label>Description: </mat-label>
                    <input matInput  type="text" name="description" id="description" [(ngModel)]="type.description" />
                </mat-form-field>
            
                <div class=" text-center">
                    <button mat-flat-button class="col-sm-6"  style="margin-right:20px" *ngIf="!isUpdate" class="btn btn-primary " type="submit" (click)="createType()"> <fa-icon [icon]='["fas", "save"]'></fa-icon></button>
                    <button mat-flat-button class="col-sm-6"  style="margin-right:20px" *ngIf="isUpdate" class="btn btn-primary" type="submit" (click)="updateType()"> <fa-icon [icon]='["fas", "save"]'></fa-icon></button>
                    <button mat-flat-button class="btn btn-warning" type="reset" > <fa-icon [icon]='["fas", "undo"]'></fa-icon></button>
                </div>
            </form>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <th> #</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th >Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let typ of types">
                        <td>{{typ.id}}</td>
                        <td>{{typ.name}}</td>
                        <td>{{typ.description}}</td>
                        <td> 
                            <button mat-mini-fab color="primary" (click)="type = typ; isUpdate = true;" class="btn btn-primary" type="button"> <fa-icon [icon]='["fas", "edit"]'></fa-icon></button>
                            &nbsp;
                            <button mat-mini-fab (click)="deleteType(typ)" class="btn btn-danger" type="button">  <fa-icon [icon]='["fas", "trash"]'></fa-icon> </button> 
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
    <mat-tab> 
        <ng-template mat-tab-label>
            <fa-icon [icon]='["fas", "cog"]'></fa-icon>
            <span>Paramètres</span>
        </ng-template>
    </mat-tab>
  </mat-tab-group>
</sb-layout-dashboard>