<div  class="class-name">
  <div class="modal-content">
    <div class="modal-header">
      <h2 class="modal-title" id="approveModalLabel">Approve Task {{ selectedTask?.task.id }}</h2>
      <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="request-container">
          <h2>Requester Information</h2>
          <ul>
            <li>Request emitted at {{ selectedTask?.request?.requestDate }}</li>
            <li>Emitter's Unit: {{ selectedTask?.request?.unit }}</li>
            <li>Emitter's Organization: {{ selectedTask?.request?.org }}</li>
            <li>User Action: <span style="color: brown;">{{ selectedTask?.request?.operationId }} </span></li>
            <li>Resource Id: {{ selectedTask?.request?.resourceId }}</li>
            <li>Emitter's language: {{selectedTask?.request?.locale}}</li>
          </ul>

          <h2>Context Information</h2>
          <p>Ip address: {{selectedTask?.request?.ipAddress}}</p>
          <p>Requesting from: {{ selectedTask?.request?.clientType }} on {{ selectedTask?.request?.osName }} {{ selectedTask?.request?.osVersion }}</p>

          <h2>Approver Information</h2>
          <p>Priority: {{ selectedTask?.request?.priority ? (selectedTask?.request?.priority === 2 ? "Medium" : (selectedTask?.request?.priority === 3 ? "Low" : "High")) : "Unknown" }}</p>

          <p>Approval due in: {{selectedTask?.request?.timeout}} minutes</p>     
          
          <form>
              <mat-checkbox  class="example-full-width" name="approve" [(ngModel)]="isApproveChecked">
                <mat-label>Approve</mat-label>
              </mat-checkbox>
              <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput [(ngModel)]="comment" name="comment"></textarea>
            </mat-form-field>
          </form>
        </div>
      <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button" class="btn btn-primary" (click)="confirmApproval()">Submit Approval</button>
      
    </div>
    
  </div>
</div>
