<sb-layout-dashboard [static]="true">
    <sb-dashboard-head title="Units" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>users</mat-icon>
                <span class="p-2">Administrative Unit</span>
            </ng-template>
            <div class="mt-5" style=" width: 80%; margin: 0 auto;">
                Administrative Unit represents administrative department, like financial department
            </div> 
            <mat-card *ngIf="adminForm"> 
                <mat-card-title>
                    {{adminTitle}}
                </mat-card-title>
                <mat-card-content>        
                    <form #f1="ngForm">
                        <mat-form-field [ngClass]="{'mat-form-field-invalid':f1.submitted && !adminUnit.name}" class="col-sm-6 col-lg-6 col-md-6">
                            <mat-label>Name: </mat-label>
                            <input matInput type="text" name="name" id="name" [(ngModel)]="adminUnit.name" required #name="ngModel"/>
                            <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">Name is required</mat-error>                            
                        </mat-form-field>
                        <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                            <mat-label>Description: </mat-label>
                            <input matInput  type="text" name="description" id="description" [(ngModel)]="adminUnit.description" />
                        </mat-form-field>
                        <mat-form-field class="col-sm-12 col-lg-12 col-md-12">
                            <mat-label>URL: </mat-label>
                            <input matInput  type="url" name="url" id="url" [(ngModel)]="adminUnit.url" #url="ngModel" 
                                [pattern]="urlPattern"/>
                            <mat-error *ngIf="url.errors?.pattern && (url.dirty || url.touched)">Enter a valid url</mat-error> 
                        </mat-form-field>            
                        <mat-action-row>
                            <button mat-button color="primary" [disabled]="!f1.valid" *ngIf="!isUpdate" type="submit" (click)="createAdminUnit()"> <mat-icon>save_alt</mat-icon></button>
                            <button mat-button color="primary" [disabled]="!f1.valid" *ngIf="isUpdate" type="submit" (click)="updateAdminUnit()"> <mat-icon>save_alt</mat-icon></button>
                            <button mat-button color="accent" type="reset" > <mat-icon>undo</mat-icon>reset</button>
                        </mat-action-row>
                    </form> 
                </mat-card-content> 
            </mat-card>
            <mat-action-row>
                <button mat-button class="float-right" color="primary" (click)="adminForm = true; adminTitle = 'New Administrative Unit'"><mat-icon>add_circle_outline</mat-icon>add administrative unit</button>
            </mat-action-row>
            <div class="table-responsive" *ngIf="aunits && aunits.length !== 0">
                <caption>
                    List of administrative units
                </caption>
                <table class="table table-striped">
                    <thead>
                        <th> #</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>URL</th>
                        <th>Location</th>
                        <th >Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let unit of aunits">
                            <td>{{unit.id}}</td>
                            <td>{{unit.name}}</td>
                            <td>{{unit.description}}</td>
                            <td> <a [href]="unit.url">{{unit.url}}</a></td>
                            <td>{{unit.location?.name}}</td>
                            <td class="p-2"> 
                                <button mat-button color="primary" (click)="adminUnit = unit; adminTitle='Edit Administrative Unit'; isUpdate = true; adminForm=true;"> <mat-icon>edit</mat-icon>edit</button>
                                
                                <button mat-button class="p-2" color="warn" (click)="deleteAdminUnit(unit)">  <mat-icon>delete</mat-icon>delete</button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>users</mat-icon>
                <span class="p-2">Operational Unit</span>
            </ng-template>
            <div class="mt-5" style=" width: 80%; margin: 0 auto;">
                Operational Unit represents non-adminitrative units which are place-under administrative unit
            </div> 
            <mat-card *ngIf="operationalForm"> 
                <mat-card-title>
                    {{operationalTitle}}
                </mat-card-title>
                <mat-card-content>        
                    <form #f2="ngForm">
                        <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                            <mat-label>Name: </mat-label>
                            <input matInput type="text" name="name" id="name" [(ngModel)]="operationalUnit.name" required />
                        </mat-form-field>
                        <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                            <mat-label>Description: </mat-label>
                            <input matInput  type="text" name="description" id="description" [(ngModel)]="operationalUnit.description" />
                        </mat-form-field>
                        <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                            <mat-label>URL: </mat-label>
                            <input matInput  type="text" name="url" id="url" [(ngModel)]="operationalUnit.url" />
                        </mat-form-field>            
                        <mat-action-row>
                            <button mat-button color="primary"  *ngIf="!isUpdate" type="submit" (click)="createOperationalUnit()"> <mat-icon>save_alt</mat-icon></button>
                            <button mat-button color="primary"  *ngIf="isUpdate" type="submit" (click)="updateOperationalUnit()"> <mat-icon>save_alt</mat-icon></button>
                            <button mat-button color="accent" type="reset" > <mat-icon>undo</mat-icon>reset</button>
                        </mat-action-row>
                    </form> 
                </mat-card-content> 
            </mat-card>
            <mat-action-row>
                <button mat-button class="float-right" color="primary" (click)="operationalForm = true; operationalTitle = 'New Operational Unit'"><mat-icon>add_circle_outline</mat-icon>add operational unit</button>
            </mat-action-row>
            <div class="table-responsive" *ngIf="ounits && ounits.length !== 0">
                <caption>
                    List of operational units
                </caption>
                <table class="table table-striped">
                    <thead>
                        <th> #</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>URL</th>
                        <th>Location</th>
                        <th >Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let unit of ounits">
                            <td>{{unit.id}}</td>
                            <td>{{unit.name}}</td>
                            <td>{{unit.description}}</td>
                            <td>{{unit.url}}</td>
                            <td>{{unit.location?.name}}</td>
                            <td class="p-2"> 
                                <button mat-button color="primary" (click)="operationalUnit = unit; operationalTitle='Edit Operational Unit'; isUpdate = true; operationalForm=true;"> <mat-icon>edit</mat-icon>edit</button>                                
                                <button mat-button class="p-2" color="warn" (click)="deleteOperationalUnit(unit)">  <mat-icon>delete</mat-icon>delete</button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>users</mat-icon>
                <span class="p-2">Units associations</span>
            </ng-template>
            <div class="mt-5" style=" width: 80%; margin: 0 auto;">
               Here you define association between units. A administrative unit can be subordinated to another. Operational Unit can be placed under an administrative unit.
            </div> 
            <mat-card *ngIf="subordinateForm"> 
                <mat-card-title>
                    {{subordinateTitle}}
                </mat-card-title>
                <mat-card-content>        
                    <form #f2="ngForm">
                        <mat-form-field class="col-sm-4 col-lg-4 col-md-4">
                            <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="subordinateUnit.organization" placeholder="Select Organization">
                                <mat-option *ngFor="let org of organizations" [value]="org">{{ org.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field class="col-sm-4 col-lg-4 col-md-4">
                            <mat-select id="sup" name="sup" (selectionChange)="setSubordinates($event)" [(ngModel)]="subordinateUnit.superior" placeholder="Select superior unit">
                                <mat-option *ngFor="let aunit of aunits" [value]="aunit">{{ aunit.name }}</mat-option>
                            </mat-select>
                        </mat-form-field> 

                        <mat-form-field class="col-sm-4 col-lg-4 col-md-4">
                            <mat-select id="sub" name="sub" [(ngModel)]="subordinateUnit.subordinate" placeholder="Select Subordinated unit">
                                <mat-option *ngFor="let sunit of subordinatedUnits" [value]="sunit">{{ sunit.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>                              
                        <mat-action-row>
                            <button mat-button color="primary"  *ngIf="!isUpdate" type="submit" (click)="createSubordinate()"> <mat-icon>save_alt</mat-icon></button>
                            <button mat-button color="primary"  *ngIf="isUpdate" type="submit" (click)="updateSubordinate()"> <mat-icon>save_alt</mat-icon></button>
                            <button mat-button color="accent" type="reset" > <mat-icon>undo</mat-icon>reset</button>
                        </mat-action-row>
                    </form> 
                </mat-card-content> 
            </mat-card>
            <mat-action-row>
                <button mat-button class="float-right" color="primary" (click)="subordinateForm = true; subordinateTitle = 'New Association'"><mat-icon>add_circle_outline</mat-icon>add units association</button>
            </mat-action-row>
            <div class="table-responsive" *ngIf="subordinateUnits && subordinateUnits.length !== 0">
                <caption>
                    List of associations between units
                </caption>
                <table class="table table-striped">
                    <thead>
                        <th> #</th>
                        <th>Organization</th>
                        <th>Superior</th>
                        <th>Subordinate</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subord of subordinateUnits">
                            <td>{{subord.id}}</td>
                            <td>{{subord.organization?.name}}</td>
                            <td>{{subord.superior?.name}}</td>
                            <td>{{subord.subordinate?.name}}</td>
                            <td class="p-2"> 
                                <button mat-button color="primary" (click)="subordinateUnit = subord; subordinateTitle='Edit Association'; isUpdate = true; subordinateForm=true;"> <mat-icon>edit</mat-icon>edit</button>                                
                                <button mat-button class="p-2" color="warn" (click)="deleteSubordinate(subord)">  <mat-icon>delete</mat-icon>delete</button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> 
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>units</mat-icon>
                <span class="p-2">Units mapping</span>
            </ng-template>

            <div class="example-container">
                <h2>To do</h2>
              
                <div
                  cdkDropList
                  #todoList="cdkDropList"
                  [cdkDropListData]="todo"
                  [cdkDropListConnectedTo]="[doneList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of todo" cdkDrag>{{item}}</div>
                </div>
              </div>
              
              <div class="example-container">
                <h2>Done</h2>
              
                <div
                  cdkDropList
                  #doneList="cdkDropList"
                  [cdkDropListData]="done"
                  [cdkDropListConnectedTo]="[todoList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                </div>
              </div>
              
        </mat-tab>
    </mat-tab-group>
</sb-layout-dashboard>
