<sb-layout-dashboard [static]="true">
    <sb-dashboard-head title="Activities" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]='["fas", "columns"]'></fa-icon>
                <span class="p-2">Activities</span>
            </ng-template>
            <div class="mt-5" style=" width: 80%; margin: 0 auto;">
                Activities correspond to actions that have the same objective, e.g. consult, modify...
            </div>
            <mat-expansion-panel *ngIf="editAct" class="mt-3">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{title}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>          
                    <form #f="ngForm" class="form-group">                       
                        <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                            <mat-label>Name: </mat-label>
                            <input matInput type="text" name="name" id="name" [(ngModel)]="activity.name" />
                        </mat-form-field>
                        <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                            <mat-label>Description: </mat-label>
                            <input matInput  type="text" name="description" id="description" [(ngModel)]="activity.description" />
                        </mat-form-field>                      
                        <mat-action-row>
                            <button mat-button  color="primary"  *ngIf="!isUpdate"  type="submit" (click)="createAct()"> <mat-icon>save_alt</mat-icon>save</button>
                            <button mat-button  color="primary" *ngIf="isUpdate"  type="submit" (click)="updateAct()"> <mat-icon>save_alt</mat-icon> save</button>
                            <button mat-button  type="reset" color="accent" > <mat-icon>restore</mat-icon>reset </button> 
                        </mat-action-row>
                    </form>
                </ng-template>
            </mat-expansion-panel>
            <button mat-button color="primary" (click)="editAct = true; title='New Activity'" class="float-right p-2"><mat-icon>add_circle_outline</mat-icon>add new activity</button>
            <div class="table-responsive" *ngIf="activities">
                <caption>
                   Activities List
                </caption>
                <table class="table table-striped">
                    <thead>
                        <th> Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th >Action</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let act of activities">
                            <td>{{act.id}}</td>
                            <td>{{act.name}}</td>
                            <td>{{act.description}}</td>
                            <td class="p-2"> 
                                <button mat-button color="primary" (click)="activity = act; editAct = true; isUpdate = true; title='Edit activity'"> <mat-icon>edit</mat-icon> edit</button>                               
                                <button mat-button color="warn" (click)="deleteAct(act)" > <mat-icon>delete</mat-icon> delete </button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
      </mat-tab-group>
    </sb-layout-dashboard>