@import 'styles/variables.scss';
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.metrics {
    border-collapse: separate;
    border-spacing: 5px;
    border: 1px solid black;
    width: auto;
    padding: 5px 8px;
    margin: 5px;
    font-family: inherit;
    font-size: inherit;
    overflow: hidden;
  }
  .measurements {
    display: inline;
    font-family: inherit;
    font-size: inherit;
  }
