<sb-layout-auth 
    ><div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header">
                        <h1 class="text-center font-weight-light my-4">
                            <img style="max-width: 60px; max-height: 60px;" class="col-md-4 col-sm-1 col-lg-4  filter-white" src="assets/img/hierarchy.svg"/>
                            <span>Create Account</span>
                        </h1>
                    </div>
                    
                    <div class="card-body">
                        <div class="alert alert-warning" *ngIf="invalidRegister">{{ errorMessage }}</div>
                        <form (ngSubmit)="onSignup()" #f="ngForm">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputFirstName">First Name</label>
                                        <input
                                            class="form-control" 
                                            required
                                            #firstname="ngModel" class="form-control py-4" id="inputFirstName" name="inputFirstName" type="text" [(ngModel)]="firstName" placeholder="Enter first name" />
                                    </div>
                                    <span class="help-block text-danger" *ngIf="!firstname.valid && firstname.touched">The FirstName field is required!</span>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="inputLastName">Last Name</label>
                                        <input class="form-control py-4" required
                                            #lastname="ngModel" id="inputLastName" required name="inputLastName" type="text" placeholder="Enter last name" [(ngModel)]="lastName"/></div>
                                        <span class="help-block text-danger" *ngIf="!lastname.valid && lastname.touched">The Last Name field is required!</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="email">Email</label>
                                <input #email="ngModel" required  email class="form-control py-4" id="email" name="email" type="email" aria-describedby="emailHelp" placeholder="Enter email address" [(ngModel)]="user.username"/></div>
                            <span class="help-block text-danger" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group"><label class="small mb-1" for="password">Password</label>
                                        <input class="form-control"  minlength="6" required 
                                            #passwd="ngModel" class="form-control py-4" id="password" name="password" type="password" placeholder="Enter password" [(ngModel)]="user.password"/></div>
                                        <span class="help-block text-danger" *ngIf="!passwd.valid && passwd.touched">The password field is required (minimum 6 characters)!</span>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="small mb-1" for="confirmPassword">Confirm Password</label>
                                        <input  class="form-control" required ngValidateEqual="password"
                                            #pass="ngModel" class="form-control py-4" name="confirmPassword" id="confirmPassword" type="password" placeholder="Confirm password" [(ngModel)]="user.confirmPassWord">
                                        
                                    </div>
                                    <span 
                                        class="help-block text-danger" 
                                        *ngIf="(pass.dirty || pass.touched) && !pass.valid">
                                        Please confirm your password!
                                    </span>
                                    <span class="help-block text-danger"  *ngIf="pass.hasError('notEqual') && password.valid">
                                        Passwords Don't Match!
                                    </span>
                                </div>
                            </div>
                            <div class="form-group mt-4 mb-0"><button  [disabled]="!f.valid"  class="btn btn-primary btn-block night" >Create Account</button></div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a routerLink="/auth/login">Have an account? Go to login</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div></sb-layout-auth
>
