<sb-layout-dashboard [static]="true">
    <sb-dashboard-head title="Employees" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]='["fas", "users"]'></fa-icon>
                <span class="p-2">Personal Infos</span>
            </ng-template>
            <div class="col-md-12">
                <div class="row ">
                    <div class="col-md-12">            
                        <form #f1="ngForm" class="form-group">
                            <div class="row">
                                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                    <mat-label>Title (MR | MDME | DR | PR): </mat-label>
                                    <input matInput type="text" name="title" id="title" [(ngModel)]="employee.title" />
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                    <mat-label>FirstName: </mat-label>
                                    <input matInput type="text" name="firstName" id="firstName" [(ngModel)]="employee.firstName" />
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                    <mat-label>MiddleName: </mat-label>
                                    <input matInput type="text" name="middleName" id="middleName" [(ngModel)]="employee.middleName" />
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                    <mat-label>LastName: </mat-label>
                                    <input matInput type="text" name="lastName" id="lastName" [(ngModel)]="employee.lastName" />
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                    <mat-label>Gender (MALE | FEMELE): </mat-label>
                                    <input matInput type="input" name="sex" id="sex" [(ngModel)]="employee.sex"/>
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                    <mat-label>Pseudo: </mat-label>
                                    <input matInput type="text" name="pseudo" [(ngModel)]="employee.pseudo"/>
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                    <mat-label>Birth Date: </mat-label>
                                    <input matInput  type="date" name="birthDate" id="birthDate" [(ngModel)]="employee.birthDate" />
                                </mat-form-field>                                
                                <!--<mat-form-field class="col-sm-4 col-lg-4 col-md-4">
                                    <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="organization.type" placeholder="Select A Type">
                                    <mat-option *ngFor="let type of types" [value]="type">{{ type.name }}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                -->
                            </div>
                            <div class="row" *ngIf="employee.address">
                                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                    <mat-label>Postal Code: </mat-label>
                                    <input matInput  type="text" name="postalCode" id="postalCode" [(ngModel)]="employee.address.postalCode" />
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                    <mat-label>Street: </mat-label>
                                    <input matInput  type="text" name="street" id="street" [(ngModel)]="employee.address.street" />
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                    <mat-label>City: </mat-label>
                                    <input matInput  type="text" name="city" id="city" [(ngModel)]="employee.address.city" />
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                    <mat-label>Region: </mat-label>
                                    <input matInput  type="text" name="region" id="region" [(ngModel)]="employee.address.region" />
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                    <mat-label>State: </mat-label>
                                    <input matInput  type="text" name="state" id="state" [(ngModel)]="employee.address.state" />
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-6 col-md-6">
                                    <mat-label>Continent: </mat-label>
                                    <input matInput  type="text" name="continent" id="continent" [(ngModel)]="employee.address.continent" />
                                </mat-form-field>  
                            </div>
                            <div class="row" >
                                <ng-container *ngI="employee.phones">
                                    <ng-container *ngFor="let phone of employee.phones | async; index as i">
                                        <mat-form-field class="col-sm-6 col-lg-2 col-md-2">
                                            <mat-label>Type: </mat-label>
                                            <input [ngModelOptions]="{standalone: true}" matInput type="text" [name]="i" [(ngModel)]="employee.phones[i].type"/>
                                        </mat-form-field>
                                        <mat-form-field class="col-sm-6 col-lg-3 col-md-3">
                                            <mat-label>Phone Number: </mat-label>
                                            <input [ngModelOptions]="{standalone: true}" matInput type="text" [name]="i" [(ngModel)]="employee.phones[i].phone"/>
                                        </mat-form-field>
                                        <mat-form-field class="col-sm-6 col-lg-3 col-md-3">
                                            <mat-label>Operator: </mat-label>
                                            <input [ngModelOptions]="{standalone: true}" matInput type="text" [name]="i" [(ngModel)]="employee.phones[i].operator"/>
                                        </mat-form-field>
                                        <mat-form-field class="col-sm-6 col-lg-3 col-md-3">
                                            <mat-label>Code: </mat-label>
                                            <input matInput type="text" [ngModelOptions]="{standalone: true}" [name]="i" [(ngModel)]="employee.phones[i].code"/>
                                        </mat-form-field> <span> <i (click)="removePhone(i)" style="color: red;"> * </i></span>
    
                                    </ng-container>
                                    <span style="color: blue;"> <i (click)="addPhone()"> + </i></span>
                                </ng-container>
                                <ng-container *ngIf="employee.emails">
                                    <ng-container *ngFor="let email of employee.emails | async; index as i">
                                        <mat-form-field class="col-sm-6 col-lg-2 col-md-2">
                                            <mat-label>Type: </mat-label>
                                            <input matInput [ngModelOptions]="{standalone: true}" type="text" [name]="i" [(ngModel)]="employee.emails[i].type"/>
                                        </mat-form-field>
                                        <mat-form-field class="col-sm-6 col-lg-3 col-md-3">
                                            <mat-label>Email: </mat-label>
                                            <input matInput [ngModelOptions]="{standalone: true}" type="text" [name]="i" [(ngModel)]="employee.emails[i].email"/>
                                        </mat-form-field><span><i (click)="removeEmail(i)" style="color: red;"> * </i></span>
                                    </ng-container>
                                    <span style="color: blue;"> <i (click)="addEmail()"> + </i></span>
                                </ng-container>                                
                            </div>
                            <div class="row" *ngIf="employee.specialID">
                                <hr>
                                <mat-form-field class="col-sm-6 col-lg-3 col-md-3">
                                    <mat-label>National ID: </mat-label>
                                    <input matInput type="text" name="nationalID" id="nationalID" [(ngModel)]="employee.specialID.nationalID"/>
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-3 col-md-3">
                                    <mat-label>Passport ID: </mat-label>
                                    <input matInput type="text" id="passportID" name="passportID" [(ngModel)]="employee.specialID.passportID"/>
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-3 col-md-3">
                                    <mat-label>driving License ID: </mat-label>
                                    <input matInput type="text" id="drivingLicense" name="drivingLicense" [(ngModel)]="employee.specialID.drivingLicense"/>
                                </mat-form-field>
                                <mat-form-field class="col-sm-6 col-lg-3 col-md-3">
                                    <mat-label>Social SecurityCode: </mat-label>
                                    <input matInput type="text" id="socialSecurityCode" name="socialSecurityCode" [(ngModel)]="employee.specialID.socialSecurityCode"/>
                                </mat-form-field>
                            </div>
                            <div>
                                <button class="col-sm-6"  style="margin-right:20px" *ngIf="!isUpdate" class="btn btn-primary " type="submit" (click)="createEmployee()"> <fa-icon [icon]='["fas", "save"]'></fa-icon></button>
                                <button class="col-sm-6"  style="margin-right:20px" *ngIf="isUpdate" class="btn btn-primary" type="submit" (click)="updateEmployee()"> <fa-icon [icon]='["fas", "save"]'></fa-icon></button>
                                <button class="btn btn-warning" type="reset" > <fa-icon [icon]='["fas", "undo"]'></fa-icon></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]='["fas", "users"]'></fa-icon>
                <span class="p-2">Familly Infos</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]='["fas", "book"]'></fa-icon>
                <span class="p-2">Education Infos</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]='["fas", "users"]'></fa-icon>
                <span class="p-2">Work Infos</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]='["fas", "users"]'></fa-icon>
                <span class="p-2">Health Infos</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]='["fas", "users"]'></fa-icon>
                <span class="p-2">Passion Infos</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]='["fas", "users"]'></fa-icon>
                <span class="p-2">Justice Infos</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]='["fas", "users"]'></fa-icon>
                <span class="p-2">Ownerhsip Infos</span>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]='["fas", "cog"]'></fa-icon>
                <span class="p-2">Credentials</span>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <th> #</th>
                <th>Title</th>
                <th>FirstName</th>
                <th>MiddleName</th>
                <th>LastName</th>
                <th>Pseudo</th>
                <th>National ID</th>
                <th>Actions</th>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employees">
                    <td>{{emp.id}}</td>
                    <td>{{emp.title}}</td>
                    <td>{{emp.firstName}}</td>
                    <td>{{emp.middleName}}</td>
                    <td>{{emp.lastName}}</td>
                    <td>{{emp.pseudo}}</td>
                    <td>{{emp.specialID?.nationalID}}</td>
                    <td class="p-2"> 
                        <button mat-mini-fab color="primary" (click)="employee = emp; isUpdate = true;" class="btn btn-primary" type="button"> <fa-icon [icon]='["fas", "edit"]'></fa-icon></button>
                        &nbsp;
                        <button mat-mini-fab (click)="deleteEmployee(emp)" class="btn btn-danger" type="button">  <fa-icon [icon]='["fas", "trash"]'></fa-icon> </button> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</sb-layout-dashboard>
