// Import Custom Variables
@import "variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import Custom SCSS
@import "global.scss";

// Layout
@import "layout/authentication.scss";
@import "layout/dashboard-default.scss";
@import "layout/dashboard-fixed.scss";
@import "layout/error.scss";

// Navigation
@import "navigation/nav.scss";
@import "navigation/topnav.scss";
@import "navigation/sidenav/sidenav.scss";
@import "navigation/sidenav/sidenav-dark.scss";
@import "navigation/sidenav/sidenav-light.scss";

//mat-icons
@import '~material-design-icons/iconfont/material-icons.css';
@import '~@mdi/font/css/materialdesignicons.css';


@import "~jsoneditor/dist/jsoneditor.min.css";


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.blue-snackbar {
    background: #2196F3;
}
.night {
  background: #87889c;
}
.warn-snackbar {
    background: lightcoral
}

caption {
  white-space: nowrap;
}

.ck-editor__editable_inline {
  min-height: 200px;
}

div.jsoneditor-mode-code{
  height:100vh //if you want full screen
}

div.jsoneditor-outer.has-main-menu-bar{
  background-color: #343a40;
  color: white;
}