<sb-layout-dashboard [static]="true">
    <sb-dashboard-head title="Permissions" [hideBreadcrumbs]="true"></sb-dashboard-head>
    <mat-tab-group mat-align-tabs="start" dynamicHeight #tabGroup>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]='["fas", "users"]'></fa-icon>
                <span class="p-2">Administrative Permissions</span>
            </ng-template>
            <div class="col-md-12">            
                <form #f1="ngForm" class="form-group">
                    <div class="row">
                        <!--<mat-spinner *ngIf="actionInProgress"></mat-spinner> -->
                        <mat-accordion class="col-md-12 mx-auto mt-3">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        New Admin Unit Grant
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Define Administrative Unit Grant
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <ng-template matExpansionPanelContent>
                                    <mat-form-field class="col-sm-12 col-lg-12 col-md-12">
                                        <mat-label>Name:</mat-label>
                                        <input matInput type="text" name="admname" id="admname" [(ngModel)]="adminPermission.name" />
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="adminPermission.organisation" placeholder="Select organization" >
                                            <mat-option *ngFor="let org of organizations" [value]="org">{{ org.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="adminPermission.administrativeUnit" placeholder="Select Admin Unit" >
                                            <mat-option *ngFor="let aunit of administrativeUnits" [value]="aunit">{{ aunit.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="adminPermission.operationalUnit" placeholder="Select operational Unit" >
                                            <mat-option *ngFor="let ounit of operationalUnits" [value]="ounit">{{ ounit.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="adminPermission.activity" placeholder="Select activity" >
                                            <mat-option *ngFor="let act of activities" [value]="act">{{act.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="adminPermission.vue" placeholder="Select View" >
                                            <mat-option *ngFor="let vue of vues" [value]="vue">{{vue.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="adminPermission.context" placeholder="Select Context" >
                                            <mat-option *ngFor="let context of contexts" [value]="context">{{context.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="adminPermission.mode" placeholder="Select Mode" >
                                            <mat-option *ngFor="let mode of modes" [value]="mode">{{mode}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ng-template>
                            </mat-expansion-panel>
                        </mat-accordion>                                
                    </div>
                </form>
            </div>             
            <mat-action-row class="mt-2 mx-auto">               
                <button mat-button (click)="createAdminPermission()" color="primary" style="margin-right:20px" *ngIf="!isUpdate"  type="submit"> <mat-icon>save_alt</mat-icon>save</button>
                <button mat-button (click)="updateAdminPermission()"  color="primary" *ngIf="isUpdate"  type="submit"> <mat-icon>save_alt</mat-icon> save</button>
                <button mat-button  type="reset" color="accent" > <mat-icon>restore</mat-icon>reset </button>
            </mat-action-row>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th> #</th>
                        <th>Name</th>
                        <th>Org</th>
                        <th>Admin Unit</th>
                        <th>operational Unit</th>
                        <th>Activity</th>
                        <th>View</th>
                        <th>Context</th>
                        <th>Mode</th>
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let grant of adminPermissions">
                            <td>{{grant.id}}</td>
                            <td>{{grant.name}}</td>
                            <td>{{grant.organisation?.name}}</td>
                            <td>{{grant.administrativeUnit?.name}}</td>
                            <td>{{grant.operationalUnit?.name}}</td>
                            <td>{{grant.activity?.name}}</td>
                            <td>{{grant.vue?.name}}</td>
                            <td>{{grant.context?.name}}</td>
                            <td>{{grant.mode}}</td>
                            <td class="p-2"> 
                                <button mat-button color="primary" (click)="isUpdate = true; adminPermission = grant;"> <mat-icon>edit</mat-icon> edit</button>                               
                                <button (click)="deleteAdminPermission(grant)" mat-button color="warn"  > <mat-icon>delete</mat-icon> delete </button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>logs</mat-icon>
                <span class="p-2">Operational Permissions</span>
            </ng-template>
            <div class="col-md-12">            
                <form #f3="ngForm" class="form-group">
                    <div class="row">
                        <!--<mat-spinner *ngIf="actionInProgress"></mat-spinner> -->
                        <mat-accordion class="col-md-12 mx-auto mt-3">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        New Operational Unit Grant
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Define Operational Unit Grant
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <ng-template matExpansionPanelContent>
                                    <mat-form-field class="col-sm-12 col-lg-12 col-md-12">
                                        <mat-label>Name:</mat-label>
                                        <input matInput type="text" name="opname" id="opname" [(ngModel)]="opPermission.name" />
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="opPermission.organization" placeholder="Select organization" >
                                            <mat-option *ngFor="let org of organizations" [value]="org">{{ org.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="opPermission.unit" placeholder="Select Unit" >
                                            <mat-option *ngFor="let ounit of units" [value]="ounit">{{ ounit.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="opPermission.activity" placeholder="Select activity" >
                                            <mat-option *ngFor="let act of activities" [value]="act">{{act.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="opPermission.vue" placeholder="Select View" >
                                            <mat-option *ngFor="let vue of vues" [value]="vue">{{vue.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="opPermission.context" placeholder="Select Context" >
                                            <mat-option *ngFor="let context of contexts" [value]="context">{{context.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-checkbox class="col-sm-12 col-lg-6 col-md-6" name="requiredApproval" [(ngModel)]="opPermission.requiredApproval">
                                        <mat-label>Requires Hierarchical Approval</mat-label>
                                    </mat-checkbox>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6" ame="approvalType">
                                        <mat-select  name="approvalType" [(value)]="opPermission.approvalType" placeholder="Select Approval type" >
                                            <mat-option *ngFor="let type of approvalTypes" [value]="type">{{type}}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select  [(value)]="opPermission.approvalLevel" placeholder="Select Approval Level" >
                                            <mat-option  value="0">No Approval</mat-option>
                                            <mat-option  value="1">1<sup>st</sup> Hierarchy</mat-option>
                                            <mat-option  value="2">Up to 2<sup>nd</sup> Hierarchy</mat-option>
                                            <mat-option  value="3">Up to 3<sup>th</sup> Hierarchy</mat-option>
                                            <mat-option  value="4">Up to 4<sup>th</sup> Hierarchy</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-label>Priority</mat-label>
                                        <input name="priority" matInput type="number" max="3" min="1" [(ngModel)]="opPermission.priority" />
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-label>Approval timeout per approver (in minute)</mat-label>
                                        <input matInput type="number" name="timeout" min="1" [(ngModel)]="opPermission.timeout" />
                                    </mat-form-field>
                                </ng-template>
                            </mat-expansion-panel>
                        </mat-accordion>                                
                    </div>
                </form>
            </div>             
            <mat-action-row class="mt-2 mx-auto">               
                <button mat-button (click)="createOpPermission()" color="primary" style="margin-right:20px" *ngIf="!isUpdate"  type="submit"> <mat-icon>save_alt</mat-icon>save</button>
                <button mat-button (click)="updateOpPermission()"  color="primary" *ngIf="isUpdate"  type="submit"> <mat-icon>save_alt</mat-icon> save</button>
                <button mat-button  type="reset" color="accent" > <mat-icon>restore</mat-icon>reset </button>
                <div *ngIf="success" class="alert alert-success" role="alert">
                    {{message}}
                </div>
                <div *ngIf="hasError" class="alert alert-danger" role="alert">
                    {{message}}
                </div>
                <mat-spinner *ngIf="pending"></mat-spinner>
            </mat-action-row>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th> #</th>
                        <th>Name</th>
                        <th>Org</th>
                        <th>operational Unit</th>
                        <th>Activity</th>
                        <th>View</th>
                        <th>Context</th>
                        <th>Approval Level</th>
                        <th>Approval Type</th>
                        <th>Timeout</th>
                        <th>Priority</th>
                        
                        <th>Actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let grant of opPermissions">
                            <td>{{grant.id}}</td>
                            <td>{{grant.name}}</td>
                            <td>{{grant.organization?.name}}</td>
                            <td>{{grant.unit?.name}}</td>
                            <td>{{grant.activity?.name}}</td>
                            <td>{{grant.vue?.name}}</td>
                            <td>{{grant.context?.name}}</td>
                            <td>{{grant.approvalLevel}}</td>
                            <td>{{grant.approvalType}}</td>
                            <td>{{grant.timeout}}</td>
                            <td>{{grant.priority}}</td>
                            <td class="p-2"> 
                                <button mat-button color="primary" (click)="isUpdate = true; opPermission = grant;"> <mat-icon>edit</mat-icon> edit</button>                               
                                <button (click)="deleteOpPermission(grant)" mat-button color="warn"  > <mat-icon>delete</mat-icon> delete </button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>        
    </mat-tab-group>
</sb-layout-dashboard>
