<sb-layout-dashboard [static]="true">
    <sb-dashboard-head title="Permissions" [hideBreadcrumbs]="true"></sb-dashboard-head>
    <mat-tab-group mat-align-tabs="start" dynamicHeight #tabGroup>
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]='["fas", "users"]'></fa-icon>
                <span class="p-2">Admin Permissions Helpers</span>
            </ng-template>
            <div class="col-md-12">            
                <form #f1="ngForm" class="form-group">
                    <div class="row">
                        <!--<mat-spinner *ngIf="actionInProgress"></mat-spinner> -->
                        <mat-accordion class="col-md-12 mx-auto mt-3">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        New Admin permission helper
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Ask qustion about admin permission
                                    </mat-panel-description>
                                </mat-expansion-panel-header>

                                <ng-template matExpansionPanelContent>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="organization" placeholder="Select organization" >
                                            <mat-option *ngFor="let org of organizations" [value]="org">{{ org.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="canTreat.emitter" placeholder="Select Emitter" >
                                            <mat-option *ngFor="let em of employees" [value]="em">{{ em.firstName }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="canTreat.approver" placeholder="Select Approver" >
                                            <mat-option *ngFor="let em of employees" [value]="em">{{ em.firstName }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="canTreat.resource" placeholder="Select resource" >
                                            <mat-option *ngFor="let res of resources" [value]="res">{{res.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="canTreat.action" placeholder="Select action" >
                                            <mat-option *ngFor="let act of actions" [value]="act">{{act.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ng-template>
                            </mat-expansion-panel>
                        </mat-accordion>                                
                    </div>
                </form>
            </div>             
            <mat-action-row class="mt-2 mx-auto">               
                <button mat-button (click)="canTreats()" color="primary" style="margin-right:20px" type="submit"> <mat-icon>check</mat-icon>check</button>
                <button mat-button  type="reset" color="accent" > <mat-icon>restore</mat-icon>reset </button>
            </mat-action-row>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th> #</th>
                        <th>Name</th>
                        <th>Org</th>
                        <th>Admin Unit</th>
                        <th>operational Unit</th>
                        <th>Activity</th>
                        <th>View</th>
                        <th>Context</th>
                        <th>Mode</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let grant of adminPermissions">
                            <td>{{grant.id}}</td>
                            <td>{{grant.name}}</td>
                            <td>{{grant.organisation?.name}}</td>
                            <td>{{grant.administrativeUnit?.name}}</td>
                            <td>{{grant.operationalUnit?.name}}</td>
                            <td>{{grant.activity?.name}}</td>
                            <td>{{grant.vue?.name}}</td>
                            <td>{{grant.context?.name}}</td>
                            <td>{{grant.mode}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon>logs</mat-icon>
                <span class="p-2">Operational Permissions Helpers</span>
            </ng-template>
            <div class="col-md-12">            
                <form #f3="ngForm" class="form-group">
                    <div class="row">
                        <!--<mat-spinner *ngIf="actionInProgress"></mat-spinner> -->
                        <mat-accordion class="col-md-12 mx-auto mt-3">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        New operational permission helper
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        Troubleshoot permissions
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <ng-template matExpansionPanelContent>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="organization" placeholder="Select organization" >
                                            <mat-option *ngFor="let org of organizations" [value]="org">{{ org.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="canSuggest.emitter" placeholder="Select Emitter" >
                                            <mat-option *ngFor="let em of employees" [value]="em">{{ em.firstName }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="canSuggest.resource" placeholder="Select resource" >
                                            <mat-option *ngFor="let res of resources" [value]="res">{{res.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="col-sm-12 col-lg-6 col-md-6">
                                        <mat-select [(value)]="canSuggest.action" placeholder="Select action" >
                                            <mat-option *ngFor="let act of actions" [value]="act">{{act.name }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </ng-template>
                            </mat-expansion-panel>
                        </mat-accordion>                                
                    </div>
                </form>
            </div>             
            <mat-action-row class="mt-2 mx-auto">               
                <button mat-button (click)="canSuggests()" color="primary" style="margin-right:20px" type="submit"> <mat-icon>check</mat-icon>check</button>
                <button mat-button  type="reset" color="accent" > <mat-icon>restore</mat-icon>reset </button>
            </mat-action-row>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <th> #</th>
                        <th>Name</th>
                        <th>Org</th>
                        <th>operational Unit</th>
                        <th>Activity</th>
                        <th>View</th>
                        <th>Context</th>
                        <th>Mode</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let grant of opPermissions">
                            <td>{{grant.id}}</td>
                            <td>{{grant.name}}</td>
                            <td>{{grant.organization?.name}}</td>
                            <td>{{grant.unit?.name}}</td>
                            <td>{{grant.activity?.name}}</td>
                            <td>{{grant.vue?.name}}</td>
                            <td>{{grant.context?.name}}</td>
                            <td>{{grant.mode}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>        
    </mat-tab-group>
</sb-layout-dashboard>
