<sb-layout-dashboard [static]="true">
    <sb-dashboard-head title="Activities" [hideBreadcrumbs]="false"></sb-dashboard-head>
    <mat-tab-group mat-align-tabs="start">
        <mat-tab>
            <ng-template mat-tab-label>
                <fa-icon [icon]='["fas", "columns"]'></fa-icon>
                <span class="p-2">Relation between Activity, Action and organization</span>
            </ng-template>
            <div class="mt-5" style=" width: 80%; margin: 0 auto;">
              
            </div>
            <mat-expansion-panel *ngIf="editCons" class="mt-3">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{title}}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>          
                    <form #f="ngForm" class="form-group"> 
                        <mat-form-field class="col-sm-4 col-lg-4 col-md-4">
                            <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="consider.activity" placeholder="Select an activity">
                                <mat-option *ngFor="let activity of activities" [value]="activity">{{ activity.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="col-sm-4 col-lg-4 col-md-4">
                            <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="consider.action" placeholder="Select an action">
                                <mat-option *ngFor="let action of actions" [value]="action">{{ action.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="col-sm-4 col-lg-4 col-md-4">
                            <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="consider.organization" placeholder="Select an organization">
                                <mat-option *ngFor="let organization of organizations" [value]="organization">{{ organization.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>                
                        <mat-action-row>
                            <button mat-button  color="primary"  *ngIf="!isUpdate"  type="submit" (click)="createCons()"> <mat-icon>save_alt</mat-icon>save</button>
                            <button mat-button  color="primary" *ngIf="isUpdate"  type="submit" (click)="updateCons()"> <mat-icon>save_alt</mat-icon> save</button>
                            <button mat-button  type="reset" color="accent" > <mat-icon>restore</mat-icon>reset </button> 
                        </mat-action-row>
                    </form>
                </ng-template>
            </mat-expansion-panel>
            <button mat-button color="primary" (click)="editCons = true; title='New Association'" class="float-right p-2"><mat-icon>add_circle_outline</mat-icon>add new association</button>
            <div class="table-responsive" *ngIf="considers">
                <caption>
                List of association between Activity and Action
                </caption>
                <table class="table table-striped">
                    <thead>
                        <th>Id</th>
                        <th>Activity</th>
                        <th>Action</th>
                        <th>Organization</th>
                        <th>actions</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let cons of considers">
                            <td>{{cons.id}}</td>
                            <td>{{cons.activity?.name}}</td>
                            <td>{{cons.action?.name}}</td>
                            <td>{{cons.organization?.name}}</td>
                            <td class="p-2"> 
                                <button mat-button color="primary" (click)="consider = cons; editCons = true; isUpdate = true; title='Edit Consider'"> <mat-icon>edit</mat-icon> edit</button>                               
                                <button mat-button color="warn" (click)="deleteCons(cons)" > <mat-icon>delete</mat-icon> delete </button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </mat-tab>
      </mat-tab-group>
    </sb-layout-dashboard>