<div>
<form class="bg-light">
    <div class="d-flex justify-content-between p-2">
        <div class="form-group form-inline">Search Access requests: 
            <input class="form-control ml-2" type="text" name="searchTerm" /><span class="ml-3" *ngIf="countryService.loading$ | async">Loading..................</span>
        </div>
        <button type="button" class="btn btn-link p-0" (click)="reload()"  matTooltip="Reload Data">
            <i class="material-icons">refresh</i>
        </button>
    </div>
    
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#TaskId</th>
                <th scope="col" sbSortable="name" > <span>Name</span>
                    
                </th>
                <th scope="col" > <span>Status</span>
                </th>
                <th scope="col"> <span>Approver</span>
                    
                </th>
                <th scope="col"> <span>Priority</span>
                    
                </th>
                <th scope="col"> <span>Created Date</span>
                    
                </th>
                <th scope="col"> <span>Request Reference (processInstanceId)</span>                    
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task  of tasks">
                <th scope="row">{{ task.task.id }}</th>
                <td>
                    <ngb-highlight [result]="task.task.name" [term]="countryService.searchTerm"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="task.task.status" [term]="countryService.searchTerm"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="task.task.assignee" [term]="countryService.searchTerm"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="task.task.priority | number" [term]="countryService.searchTerm"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="task.task.createdDate" [term]="countryService.searchTerm"></ngb-highlight>
                </td>
                <td>
                    <ngb-highlight [result]="task.task.processInstanceId" [term]="countryService.searchTerm"></ngb-highlight>
                </td>
                <td>
                <button (click)="openApproveModal(task)" class="btn btn-sm btn-success" matTooltip="Approve Task" data-toggle="modal" data-target="#approveModal">
                    <i class="material-icons">check</i> Approve
                </button>
                 </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between p-2">
        <ngb-pagination [collectionSize]="total$ | async" [(page)]="countryService.page" [pageSize]="countryService.pageSize"></ngb-pagination>
        <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="countryService.pageSize">
            <option [ngValue]="2">2 items per page</option><option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option><option [ngValue]="9">9 items per page</option>
        </select>
    </div>
    

</form>
</div>